<% unless @shots.nil? || @shots == "[]" %>
<div class="panel panel-default" style="width:700px">
  <div id="stacked_bar_location_threes"></div>
  <% @player_shot_stats.each do |stat| %>
	  <%= javascript_tag do %>

	    var shots_att = <%= stat.shots_att %>
	    var right_corner_3_att = <%= stat.right_corner_3_att %>;
	    var right_corner_3_made = <%= stat.right_corner_3_made %>;
	    var right_wing_3_att = <%= stat.right_wing_3_att %>;
	    var right_wing_3_made = <%= stat.right_wing_3_made %>;
	    var straight_up_3_att = <%= stat.straight_up_3_att %>;
	    var straight_up_3_made = <%= stat.straight_up_3_made %>;
	    var left_wing_3_att = <%= stat.left_wing_3_att %>;
	    var left_wing_3_made = <%= stat.left_wing_3_made %>;
	    var left_corner_3_att = <%= stat.left_corner_3_att %>;
	    var left_corner_3_made = <%= stat.left_corner_3_made %>;

	  <% end %>
  <% end %>

  <script type="text/javascript">
	$(function() {
	    $('#stacked_bar_location_threes').highcharts({
	        chart: {
	            type: 'bar',
	            height: 200,
	            width: 698
	       },
	        title: {
	            text: 'Three Pointers'
	        },
	        xAxis: {
	            categories: ['Attempts', 'Shots Made']
	        },
	        yAxis: {
	            title: {
	                text: ''
	            },
	            min: 0,
	            max: shots_att,
	            tickWidth: 1,
	            gridLineWidth: 0,
	            lineWidth: 1,
	            reversed: true
	        },
	        legend: {
	            layout: 'vertical',
	            align: 'right',
	            verticalAlign: 'middle',
	            width: 175,
	            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
	            borderWidth: 1
	        },
	        plotOptions: {
	            bar: {
	                stacking: 'normal'
	            }
	        },
            series: [{
                name: 'Right Corner 3s',
                color: '#60B9CE',
                data: [right_corner_3_att, right_corner_3_made]
            }, {
                name: 'Right Wing 3s',
                color: '#04819E',
                data: [right_wing_3_att, right_wing_3_made]
            }, {
                name: 'Straight-Up 3s',
                color: '#015367',
                data: [straight_up_3_att, straight_up_3_made]
            }, {
                name: 'Left Wing 3s',
                color: '#04819E',
                data: [left_wing_3_att, left_wing_3_made]
            }, {
                name: 'Left Corner 3s',
                color: '#60B9CE',
                data: [left_corner_3_att, left_corner_3_made]
            }],
	        tooltip: {
                pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
                shared: true
            },
	    });
	});
  </script>
</div>
<% end %>