<% unless @shots.nil? || @shots == "[]" %>
<div class="panel panel-default" style="width:700px">
  <div id="stacked_bar_location_twos"></div>
  <% @player_shot_stats.each do |stat| %>
	  <%= javascript_tag do %>

	    var shots_att = <%= stat.shots_att %>

	    // Switch right with left
	    var left_baseline_2_att = <%= stat.right_baseline_2_att %>;
	    var left_baseline_2_made = <%= stat.right_baseline_2_made %>;
	    var left_wing_2_att = <%= stat.right_wing_2_att %>;
	    var left_wing_2_made = <%= stat.right_wing_2_made %>;
	    var straight_up_2_att = <%= stat.straight_up_2_att %>;
	    var straight_up_2_made = <%= stat.straight_up_2_made %>;
	    var right_wing_2_att = <%= stat.left_wing_2_att %>;
	    var right_wing_2_made = <%= stat.left_wing_2_made %>;
	    var right_baseline_2_att = <%= stat.left_baseline_2_att %>;
	    var right_baseline_2_made = <%= stat.left_baseline_2_made %>;

	  <% end %>
  <% end %>

  <script type="text/javascript">
	$(function() {
	    $('#stacked_bar_location_twos').highcharts({
	        chart: {
	            type: 'bar',
	            height: 190,
	            width: 698
	       },
	        title: {
	            text: 'Outside The Paint'
	        },
	        xAxis: {
	            categories: ['Attempts', 'Shots Made']
	        },
	        yAxis: {
	            title: {
	                text: ''
	            },
	            min: 0,
	            max: shots_att,
	            tickWidth: 1,
	            gridLineWidth: 0,
	            lineWidth: 1,
	            reversed: false,
	            reversedStacks: false
	        },
	        legend: {
	            layout: 'vertical',
	            align: 'right',
	            verticalAlign: 'middle',
	            width: 175,
	            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
	            borderWidth: 1
	        },
	        plotOptions: {
	            bar: {
	                stacking: 'normal'
	            }
	        },
            series: [{
                name: 'Left Baseline 2s',
                color: '#61D89F',
                data: [left_baseline_2_att, left_baseline_2_made]
            }, {
                name: 'Left Wing 2s',
                color: '#00B25C',
                data: [left_wing_2_att, left_wing_2_made]
            }, {
                name: 'Straight-Up 2s',
                color: '#00733C',
                data: [straight_up_2_att, straight_up_2_made]
            }, {
                name: 'Right Wing 2s',
                color: '#00B25C',
                data: [right_wing_2_att, right_wing_2_made]
            }, {
                name: 'Right Baseline 2s',
                color: '#61D89F',
                data: [right_baseline_2_att, right_baseline_2_made]
            }],
	        tooltip: {
                pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
                shared: true,
	            hideDelay: 1,
            },
            credits: {
            	enabled: false
            },
	    });
	});
  </script>
</div>
<% end %>