<% unless @shots.nil? || @shots == "[]" %>
<div class="panel panel-default" style="width:700px">
  <div id="stacked_bar_location_detail"></div>
  <% @player_shot_stats.each do |stat| %>
	  <%= javascript_tag do %>

	    var shots_att = <%= stat.shots_att %>
	    var corner_3_att = <%= stat.corner_3_att %>;
	    var corner_3_made = <%= stat.corner_3_made %>;
	    var wing_3_att = <%= stat.wing_3_att %>;
	    var wing_3_made = <%= stat.wing_3_made %>;
	    var straight_up_3_att = <%= stat.straight_up_3_att %>;
	    var straight_up_3_made = <%= stat.straight_up_3_made %>;
	    var baseline_2_att = <%= stat.baseline_2_att %>;
	    var baseline_2_made = <%= stat.baseline_2_made %>;
	    var wing_2_att = <%= stat.wing_2_att %>;
	    var wing_2_made = <%= stat.wing_2_made %>;
	    var straight_up_2_att = <%= stat.straight_up_2_att %>;
	    var straight_up_2_made = <%= stat.straight_up_2_made %>;
	    var high_paint_att = <%= stat.high_paint_att %>;
	    var high_paint_made = <%= stat.high_paint_made %>;
	    var low_paint_att = <%= stat.low_paint_att %>;
	    var low_paint_made = <%= stat.low_paint_made %>;
	    var at_rim_layup_shots_att = <%= stat.at_rim_layup_shots_att %>;
	    var at_rim_layup_shots_made = <%= stat.at_rim_layup_shots_made %>;
	    var at_rim_dunk_shots_att = <%= stat.at_rim_dunk_shots_att %>;
	    var at_rim_dunk_shots_made = <%= stat.at_rim_dunk_shots_made %>;

	  <% end %>
  <% end %>

  <script type="text/javascript">
	$(function() {
	    $('#stacked_bar_location_detail').highcharts({
	        chart: {
	            type: 'bar',
	            height: 190,
	            width: 698
	       },
	        title: {
	            text: 'All Zones (Detailed)'
	        },
	        xAxis: {
	            categories: ['Attempts', 'Shots Made']
	        },
	        yAxis: {
	            title: {
	                text: ''
	            },
	            min: 0,
	            max: shots_att,
	            tickWidth: 1,
	            gridLineWidth: 0,
	            lineWidth: 1,
	            reversed: false,
	            reversedStacks: false
	        },
	        legend: {
	            layout: 'vertical',
	            align: 'right',
	            verticalAlign: 'middle',
	            width: 175,
	            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
	            borderWidth: 1
	        },
	        plotOptions: {
	            bar: {
	                stacking: 'normal'
	            }
	        },
            series: [{
                name: 'Corner 3s',
                color: '#60B9CE',
                data: [corner_3_att, corner_3_made]
            }, {
                name: 'Wing 3s',
                color: '#04819E',
                data: [wing_3_att, wing_3_made]
            }, {
                name: 'Straight-Up 3s',
                color: '#015367',
                data: [straight_up_3_att, straight_up_3_made]
            }, {
                name: 'Baseline 2s',
                color: '#61D89F',
                data: [baseline_2_att, baseline_2_made]
            }, {
                name: 'Wing 2s',
                color: '#00B25C',
                data: [wing_2_att, wing_2_made]
            }, {
                name: 'Straight-Up 2s',
                color: '#00733C',
                data: [straight_up_2_att, straight_up_2_made]
            }, {
                name: 'High Paint',
                color: '#FF9B73',
                data: [high_paint_att, high_paint_made]
            }, {
                name: 'Low Paint',
                color: '#FF7640',
                data: [low_paint_att, low_paint_made]
            }, {
                name: 'At-Rim Layups',
                color: '#FF4900',
                data: [at_rim_layup_shots_att, at_rim_layup_shots_made]
            }, {
                name: 'At-Rim Dunks',
                color: '#A65600',
                data: [at_rim_dunk_shots_att, at_rim_dunk_shots_made]
            }],
	        tooltip: {
                pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
                shared: true,
	            hideDelay: 1,
            },
            credits: {
            	enabled: false
            },
	    });
	});
  </script>
</div>
<% end %>