<% unless @shots.nil? || @shots == "[]" %>
<div class="panel panel-default" style="width:700px">
  <div id="stacked_bar_location_paint"></div>
  <% @player_shot_stats.each do |stat| %>
	  <%= javascript_tag do %>

	    var shots_att = <%= stat.shots_att %>

	    // Switch right with left
	    var right_high_paint_att = <%= stat.left_high_paint_att %>;
	    var right_high_paint_made = <%= stat.left_high_paint_made %>;
	    var right_low_paint_att = <%= stat.left_low_paint_att %>;
	    var right_low_paint_made = <%= stat.left_low_paint_made %>;
	    var at_rim_layup_shots_att = <%= stat.at_rim_layup_shots_att %>;
	    var at_rim_layup_shots_made = <%= stat.at_rim_layup_shots_made %>;
	    var at_rim_dunk_shots_att = <%= stat.at_rim_dunk_shots_att %>;
	    var at_rim_dunk_shots_made = <%= stat.at_rim_dunk_shots_made %>;
	    var left_low_paint_att = <%= stat.right_low_paint_att %>;
	    var left_low_paint_made = <%= stat.right_low_paint_made %>;
	    var left_high_paint_att = <%= stat.right_high_paint_att %>;
	    var left_high_paint_made = <%= stat.right_high_paint_made %>;

	  <% end %>
  <% end %>

  <script type="text/javascript">
	$(function() {
	    $('#stacked_bar_location_paint').highcharts({
	        chart: {
	            type: 'bar',
	            height: 190,
	            width: 698
	       },
	        title: {
	            text: 'In The Paint'
	        },
	        xAxis: {
	            categories: ['Attempts', 'Shots Made']
	        },
	        yAxis: {
	            title: {
	                text: ''
	            },
	            min: 0,
	            max: shots_att,
	            tickWidth: 1,
	            gridLineWidth: 0,
	            lineWidth: 1,
	            reversed: true
	        },
	        legend: {
	            layout: 'vertical',
	            align: 'right',
	            verticalAlign: 'middle',
	            width: 175,
	            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
	            borderWidth: 1
	        },
	        plotOptions: {
	            bar: {
	                stacking: 'normal'
	            }
	        },
            series: [{
                name: 'Right High Paint',
                color: '#FF9B73',
                data: [right_high_paint_att, right_high_paint_made]
            }, {
                name: 'Right Low Paint',
                color: '#FF7640',
                data: [right_low_paint_att, right_low_paint_made]
            }, {
                name: 'At-Rim Layups',
                color: '#FF4900',
                data: [at_rim_layup_shots_att, at_rim_layup_shots_made]
            }, {
                name: 'At-Rim Dunks',
                color: '#A65600',
                data: [at_rim_dunk_shots_att, at_rim_dunk_shots_made]
            }, {
                name: 'Left Low Paint',
                color: '#FF7640',
                data: [left_low_paint_att, left_low_paint_made]
            }, {
                name: 'Left High Paint',
                color: '#FF9B73',
                data: [left_high_paint_att, left_high_paint_made]
            }],
	        tooltip: {
                pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
                shared: true
            },
            credits: {
            	enabled: false
            },
	    });
	});
  </script>
</div>
<% end %>