<div class="table-responsive">
  <table class="table tablesorter table-striped table-bordered">
    <thead>
      <tr>
        <th>Point Guards</th>
        <th>Team</th>
        <th><a data-toggle="tooltip" data-placement="top" title="Points per game">PPG</a></th>
        <th><a data-toggle="tooltip" data-placement="top" title="Rebounds per game">RPG</a></th>
        <th><a data-toggle="tooltip" data-placement="top" title="Assists per game">APG</a></th>
        <th><a data-toggle="tooltip" data-placement="top" title="Steals per game">SPG</a></th>
        <th><a data-toggle="tooltip" data-placement="top" title="Blocks per game">BPG</a></th>
        <th><a data-toggle="tooltip" data-placement="top" title="Field goal percentage">FG%</a></th>
        <th><a data-toggle="tooltip" data-placement="top" title="Free throw percentage">FT%</a></th>
        <th><a data-toggle="tooltip" data-placement="top" title="3-point field goal percentage">3P%</a></th>
        <th><a data-toggle="tooltip" data-placement="top" title="Effective field goal percentage">eFG%</a></th>
      </tr>
    </thead>
    <tbody>
      <% @pg_basic_stats.each do |stat| %>
      <tr>
        <td><strong><a href="../players/<%= stat.player.player_id %>"><%= stat.player.player_first_name %> <%= stat.player.player_last_name %></a></strong></td>
        <td><a href="../teams/<%= stat.player.team_id %>"><%= stat.player.team.team_name %> <%= stat.player.team.team_mascot %></a></td>
        <td><%= '%.1f' % stat.ppg.to_f %></td>
        <td><%= '%.1f' % stat.rpg.to_f %></td>
        <td><%= '%.1f' % stat.apg.to_f %></td>
        <td><%= '%.1f' % stat.spg.to_f %></td>
        <td><%= '%.1f' % stat.bpg.to_f %></td>
        <td><%= '%.3f' % stat.fgpct.to_f%></td>
        <td><%= '%.3f' % stat.ftpct.to_f %></td>
        <td><%= '%.3f' % stat.threefgpct.to_f %></td>
        <td><%= '%.3f' % stat.efgpct.to_f %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="table-responsive">
  <table id="drafttable" class="table tablesorter table-striped table-bordered">
    <thead>
      <tr>
        <th>Shooting Guards</th>
        <th>Team</th>
        <th><a data-toggle="tooltip" data-placement="top" title="Points per game">PPG</a></th>
        <th><a data-toggle="tooltip" data-placement="top" title="Rebounds per game">RPG</a></th>
        <th><a data-toggle="tooltip" data-placement="top" title="Assists per game">APG</a></th>
        <th><a data-toggle="tooltip" data-placement="top" title="Steals per game">SPG</a></th>
        <th><a data-toggle="tooltip" data-placement="top" title="Blocks per game">BPG</a></th>
        <th><a data-toggle="tooltip" data-placement="top" title="Field goal percentage">FG%</a></th>
        <th><a data-toggle="tooltip" data-placement="top" title="Free throw percentage">FT%</a></th>
        <th><a data-toggle="tooltip" data-placement="top" title="3-point field goal percentage">3P%</a></th>
        <th><a data-toggle="tooltip" data-placement="top" title="Effective field goal percentage">eFG%</a></th>
      </tr>
    </thead>
    <tbody>
      <% @sg_basic_stats.each do |stat| %>
      <tr>
        <td><strong><a href="../players/<%= stat.player.player_id %>"><%= stat.player.player_first_name %> <%= stat.player.player_last_name %></a></strong></td>
        <td><a href="../teams/<%= stat.player.team_id %>"><%= stat.player.team.team_name %> <%= stat.player.team.team_mascot %></a></td>
        <td><%= '%.1f' % stat.ppg.to_f %></td>
        <td><%= '%.1f' % stat.rpg.to_f %></td>
        <td><%= '%.1f' % stat.apg.to_f %></td>
        <td><%= '%.1f' % stat.spg.to_f %></td>
        <td><%= '%.1f' % stat.bpg.to_f %></td>
        <td><%= '%.3f' % stat.fgpct.to_f%></td>
        <td><%= '%.3f' % stat.ftpct.to_f %></td>
        <td><%= '%.3f' % stat.threefgpct.to_f %></td>
        <td><%= '%.3f' % stat.efgpct.to_f %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="table-responsive">
  <table id="drafttable" class="table tablesorter table-striped table-bordered">
    <thead>
      <tr>
        <th>Small Forwards</th>
        <th>Team</th>
        <th><a data-toggle="tooltip" data-placement="top" title="Points per game">PPG</a></th>
        <th><a data-toggle="tooltip" data-placement="top" title="Rebounds per game">RPG</a></th>
        <th><a data-toggle="tooltip" data-placement="top" title="Assists per game">APG</a></th>
        <th><a data-toggle="tooltip" data-placement="top" title="Steals per game">SPG</a></th>
        <th><a data-toggle="tooltip" data-placement="top" title="Blocks per game">BPG</a></th>
        <th><a data-toggle="tooltip" data-placement="top" title="Field goal percentage">FG%</a></th>
        <th><a data-toggle="tooltip" data-placement="top" title="Free throw percentage">FT%</a></th>
        <th><a data-toggle="tooltip" data-placement="top" title="3-point field goal percentage">3P%</a></th>
        <th><a data-toggle="tooltip" data-placement="top" title="Effective field goal percentage">eFG%</a></th>
      </tr>
    </thead>
    <tbody>
      <% @sf_basic_stats.each do |stat| %>
      <tr>
        <td><strong><a href="../players/<%= stat.player.player_id %>"><%= stat.player.player_first_name %> <%= stat.player.player_last_name %></a></strong></td>
        <td><a href="../teams/<%= stat.player.team_id %>"><%= stat.player.team.team_name %> <%= stat.player.team.team_mascot %></a></td>
        <td><%= '%.1f' % stat.ppg.to_f %></td>
        <td><%= '%.1f' % stat.rpg.to_f %></td>
        <td><%= '%.1f' % stat.apg.to_f %></td>
        <td><%= '%.1f' % stat.spg.to_f %></td>
        <td><%= '%.1f' % stat.bpg.to_f %></td>
        <td><%= '%.3f' % stat.fgpct.to_f%></td>
        <td><%= '%.3f' % stat.ftpct.to_f %></td>
        <td><%= '%.3f' % stat.threefgpct.to_f %></td>
        <td><%= '%.3f' % stat.efgpct.to_f %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="table-responsive">
  <table id="drafttable" class="table tablesorter table-striped table-bordered">
    <thead>
      <tr>
        <th>Power Forwards</th>
        <th>Team</th>
        <th><a data-toggle="tooltip" data-placement="top" title="Points per game">PPG</a></th>
        <th><a data-toggle="tooltip" data-placement="top" title="Rebounds per game">RPG</a></th>
        <th><a data-toggle="tooltip" data-placement="top" title="Assists per game">APG</a></th>
        <th><a data-toggle="tooltip" data-placement="top" title="Steals per game">SPG</a></th>
        <th><a data-toggle="tooltip" data-placement="top" title="Blocks per game">BPG</a></th>
        <th><a data-toggle="tooltip" data-placement="top" title="Field goal percentage">FG%</a></th>
        <th><a data-toggle="tooltip" data-placement="top" title="Free throw percentage">FT%</a></th>
        <th><a data-toggle="tooltip" data-placement="top" title="3-point field goal percentage">3P%</a></th>
        <th><a data-toggle="tooltip" data-placement="top" title="Effective field goal percentage">eFG%</a></th>
      </tr>
    </thead>
    <tbody>
      <% @pf_basic_stats.each do |stat| %>
      <tr>
        <td><strong><a href="../players/<%= stat.player.player_id %>"><%= stat.player.player_first_name %> <%= stat.player.player_last_name %></a></strong></td>
        <td><a href="../teams/<%= stat.player.team_id %>"><%= stat.player.team.team_name %> <%= stat.player.team.team_mascot %></a></td>
        <td><%= '%.1f' % stat.ppg.to_f %></td>
        <td><%= '%.1f' % stat.rpg.to_f %></td>
        <td><%= '%.1f' % stat.apg.to_f %></td>
        <td><%= '%.1f' % stat.spg.to_f %></td>
        <td><%= '%.1f' % stat.bpg.to_f %></td>
        <td><%= '%.3f' % stat.fgpct.to_f%></td>
        <td><%= '%.3f' % stat.ftpct.to_f %></td>
        <td><%= '%.3f' % stat.threefgpct.to_f %></td>
        <td><%= '%.3f' % stat.efgpct.to_f %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="table-responsive">
  <table id="drafttable" class="table tablesorter table-striped table-bordered">
    <thead>
      <tr>
        <th>Centers</th>
        <th>Team</th>
        <th><a data-toggle="tooltip" data-placement="top" title="Points per game">PPG</a></th>
        <th><a data-toggle="tooltip" data-placement="top" title="Rebounds per game">RPG</a></th>
        <th><a data-toggle="tooltip" data-placement="top" title="Assists per game">APG</a></th>
        <th><a data-toggle="tooltip" data-placement="top" title="Steals per game">SPG</a></th>
        <th><a data-toggle="tooltip" data-placement="top" title="Blocks per game">BPG</a></th>
        <th><a data-toggle="tooltip" data-placement="top" title="Field goal percentage">FG%</a></th>
        <th><a data-toggle="tooltip" data-placement="top" title="Free throw percentage">FT%</a></th>
        <th><a data-toggle="tooltip" data-placement="top" title="3-point field goal percentage">3P%</a></th>
        <th><a data-toggle="tooltip" data-placement="top" title="Effective field goal percentage">eFG%</a></th>
      </tr>
    </thead>
    <tbody>
      <% @c_basic_stats.each do |stat| %>
      <tr>
        <td><strong><a href="../players/<%= stat.player.player_id %>"><%= stat.player.player_first_name %> <%= stat.player.player_last_name %></a></strong></td>
        <td><a href="../teams/<%= stat.player.team_id %>"><%= stat.player.team.team_name %> <%= stat.player.team.team_mascot %></a></td>
        <td><%= '%.1f' % stat.ppg.to_f %></td>
        <td><%= '%.1f' % stat.rpg.to_f %></td>
        <td><%= '%.1f' % stat.apg.to_f %></td>
        <td><%= '%.1f' % stat.spg.to_f %></td>
        <td><%= '%.1f' % stat.bpg.to_f %></td>
        <td><%= '%.3f' % stat.fgpct.to_f%></td>
        <td><%= '%.3f' % stat.ftpct.to_f %></td>
        <td><%= '%.3f' % stat.threefgpct.to_f %></td>
        <td><%= '%.3f' % stat.efgpct.to_f %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>