<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="text-center" colspan="2"><a data-toggle="tooltip" data-placement="top" title="FGM-FGA at rim (layups and dunks)">At Rim</a></th>
                <th class="text-center" colspan="2"><a data-toggle="tooltip" data-placement="top" title="FGM-FGA from 2-9 feet out">Short</a></th>
                <th class="text-center" colspan="2"><a data-toggle="tooltip" data-placement="top" title="FGM-FGA from 9-15 feet out">Mid</a></th>
                <th class="text-center" colspan="2"><a data-toggle="tooltip" data-placement="top" title="FGM-FGA from 15-21 feet out">Long</a></th>
                <th class="text-center" colspan="2"><a data-toggle="tooltip" data-placement="top" title="FGM-FGA from 3-point range">3P%</a></th>
                <th class="text-center" colspan="2"><a data-toggle="tooltip" data-placement="top" title="FGM-FGA from inside the paint">Paint</a></th>
                <th class="text-center" colspan="2"><a data-toggle="tooltip" data-placement="top" title="2-pt FGM-FGA from outside the paint">Non-Paint</a></th>
            </tr>
        </thead>
        <tbody>
            <% @player_shot_stats.each do |stat| %>
            <tr>
                <td class="text-center"><%= stat.atrimmade %>-<%= stat.atrimatt %></td>
                <td class="text-center"><%= '%.3f' % stat.atrimfgpct %></td>
                <td class="text-center"><%= stat.shortmade %>-<%= stat.shortatt %></td>
                <td class="text-center"><%= '%.3f' % stat.shortfgpct %></td>
                <td class="text-center"><%= stat.midmade %>-<%= stat.midatt %></td>
                <td class="text-center"><%= '%.3f' % stat.midfgpct %></td>
                <td class="text-center"><%= stat.longmade %>-<%= stat.longatt %></td>
                <td class="text-center"><%= '%.3f' % stat.longfgpct %></td>
                <td class="text-center"><%= stat.threemade %>-<%= stat.threeatt %></td>
                <td class="text-center"><%= '%.3f' % stat.threefgpct %></td>
                <td class="text-center"><%= stat.inthepaintmade %>-<%= stat.inthepaintatt %></td>
                <td class="text-center"><%= '%.3f' % stat.inthepaintfgpct %></td>
                <td class="text-center"><%= stat.outsidethepaintmade %>-<%= stat.outsidethepaintatt %></td>
                <td class="text-center"><%= '%.3f' % stat.outsidethepaintfgpct %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
