<h4><strong><%= @player.player_first_name %> <%= @player.player_last_name %></strong> (<a href="../teams/<%= @player.team_id %>"><%= @player.team.team_name %> <%= @player.team.team_mascot %></a>)</h4>

<ul class="nav nav-tabs" style="width:700px">
  <li class="active"><a href="#heat_chart" data-toggle="tab">Shot Heatmap</a></li>
  <li><a href="#scatter_chart" data-toggle="tab">Shot Chart</a></li>
  <li><a href="#stacked_bar" data-toggle="tab">Shot Distributions</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="heat_chart">
  	<%= render "charts/heat_chart" %>
  </div>
  <div class="tab-pane" id="scatter_chart">
  	<%= render "charts/scatter_chart" %>
  </div>
  <div class="tab-pane" id="stacked_bar">
  	<%= render "charts/stacked_bar_location" %>
  	<%= render "charts/stacked_bar_location_threes" %>
  	<%= render "charts/stacked_bar_location_twos" %>
  	<%= render "charts/stacked_bar_location_paint" %>
  	<%= render "charts/stacked_bar_type" %>
  </div>
</div>
<%= render "data/player_basic_stats" %>
<%= render "data/player_shot_stats" %>

<h4>Game Log</h4>
<%= render "data/player_game_log" %>