<h4><strong><%= @player.player_first_name %> <%= @player.player_last_name %></strong> (<a href="../teams/<%= @player.team_id %>"><%= @player.team.team_name %> <%= @player.team.team_mascot %></a>)</h4>

<ul class="nav nav-tabs" style="width:700px">
  <li class="active"><a href="#heat_chart" data-toggle="tab">Shot Heatmap</a></li>
  <li><a href="#scatter_chart" data-toggle="tab">Shot Chart</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="heat_chart">
    <%= render "data/shot_heat_chart" %>
  </div>
  <div class="tab-pane" id="scatter_chart">
  	<%= render "data/shot_scatter_chart" %>
  </div>
</div>
<%= render "data/player_basic_stats" %>
<%= render "data/player_shot_stats" %>

<h4>Game Log</h4>
<%= render "data/player_game_log" %>