<h4><strong><%= @team.team_name %> <%= @team.team_mascot %></strong></h4>
<%= render "data/shots" %>
<% if @players.all != [] %>
<h4>Players</h4>
<%= render "partials/player_button" %>
<% end %>
<h4>Game Log</h4>
<ul>
  <% @games.each do |game| %>
  <li><a href="../games/<%= game.game_id %>"><%= game.date %>: <%= Team.find_by(team_id: game.home_team_id).team_name %> vs <%= Team.find_by(team_id: game.away_team_id).team_name %> at <%= game.venue_name %> </a></li>
  <% end %>
</ul>