<div class="stripe">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <h3><strong><%= @team.team_name %> <%= @team.team_mascot %></strong></h3>
      </div>
    </div>

    <%= render "data/shots" %>
    
    <div class="row">
      <% if @players.all != [] %>
      <div class="col-sm-9">
        <h4>Players</h4>
        <div class="btn-group">
        <% @players.each do |player| %>
          <a class="btn btn-default" style="width:220px; margin:5px"  href="../players/<%= player.player_id %>"><%= player.player_first_name %> <%= player.player_last_name %></a>
        <% end %>
        </div>
      </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-sm-9">
        <h4>Game Log</h4>
        <ul>
          <% @games.each do |game| %>
          <li><a href="../games/<%= game.game_id %>"><%= game.date %>: <%= Team.find_by(team_id: game.home_team_id).team_name %> vs <%= Team.find_by(team_id: game.away_team_id).team_name %> at <%= game.venue_name %> </a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<br>