<h4><strong><%= @team.team_name %> <%= @team.team_mascot %></strong></h4>

<% unless @shots.to_json.html_safe.nil? || @shots.to_json.html_safe == "[]" %>
<ul class="nav nav-tabs" style="width:700px">
  <li class="active"><a href="#shot_heatmap" data-toggle="tab">Shot Heatmap</a></li>
  <li><a href="#shot_chart" data-toggle="tab">Shot Chart</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane fade in active" id="shot_heatmap">
  	<%= render "charts/heat_chart" %>
  </div>
  <div class="tab-pane fade" id="shot_chart">
  	<%= render "charts/scatter_chart" %>
  </div>
</div>
<% end %>

<% if @players.all != [] %>
<%= render "partials/player_button" %>
<% end %>
<h4>Game Log</h4>
<ul>
  <% @games.each do |game| %>
  <li><a href="../games/<%= game.game_id %>"><%= game.date %>: <%= Team.find_by(team_id: game.home_team_id).team_name %> vs <%= Team.find_by(team_id: game.away_team_id).team_name %> at <%= game.venue_name %> </a></li>
  <% end %>
</ul>